
body, html {
    text-align: center;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#main {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    z-index: 0;
    background-color: red;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

#Left {
    margin: 2px;
    flex-grow: 1;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0, 149, 255);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#Middle {
    margin: 2px;
    flex-grow: 5;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0, 149, 255);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#Right {
    margin: 2px;
    flex-grow: 1;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0, 149, 255);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.topLeft{
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 242, 0);

    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
}
.bottomLeft {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 242, 0);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center;
}

.topMiddle {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 242, 0);

    display: flex;
    flex-grow: 0.5; 
    flex-shrink: 0;
    justify-content: center;
}

.bottomMiddle {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 242, 0);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center;
}
.Title {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 242, 0);

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}
.middleContent {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 123, 0);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center;
}
.InRight {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 242, 0);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center;
}

