/* Réinitialisation des marges et hauteurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Image de fond couvrant toute la page */
body {
    background-image: url('../Img/Cybercity.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bloc central avec un fond semi-transparent */
.central-block {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.808);
}


/* Bouton "Se connecter" */
.btn-login {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
}

/* Bouton "S'inscrire" */
.btn-signup {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
}


.btn-login span, .btn-signup span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }

  .btn-login span:hover, .btn-signup span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  .btn-login span:not(hover), .btn-signup span:not(hover) {
    transition: all 1s;
  }
  
/* Adaptabilité pour les petits écrans */
@media (max-width: 600px) {
    .central-block {
        padding: 20px;
    }

    .central-block button {
        width: 100%;
        margin: 10px 0;
    }
}
