.gauge {
    position: relative;
    margin: 1px 0;
    font-size: 0.9rem;
    width: 100%; /* Utilisation de 100% pour un espace flexible */
    max-width: 100%; /* S'assurer que la largeur maximale s'ajuste au parent */
    padding: 0 10px; /* Ajouter un padding pour un meilleur espacement sur petits écrans */
}

.gauge-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center; /* Centrage du label */
}

.gauge-bar {
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 100%;
}

.gauge-fill {
    height: 100%;
    border-radius: 8px 0 0 8px;
    transition: width 0.3s ease;
}

.gauge-text {
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 5px;
    text-align: center; /* Centrage du texte */
    width: 100%; /* Pour que le texte soit centré et responsive */
}

/* Styles pour les infobulles */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    .gauge {
        position: initial;
        font-size: 0.8rem;
        padding: 0 5px; /* Réduire le padding sur petits écrans */
    }

    .gauge-bar {
        position: initial;
        height: 15px; /* Réduire la hauteur de la barre sur petits écrans */
        width: 98%;
    }

    .tooltip-text {
       display: none;
    }
}
