    
body, html {
    text-align: center;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Peanut';
    font-size: 1.2rem;
}

#main {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    z-index: 0;
    background-image: url('../../assets/img/FirstTime.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

#Infos {
    margin: 2px;
    flex-grow: 1;
    background-color: rgba(0, 149, 255, 0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#Middle {
    margin: 2px;
    flex-grow: 5;
    background-color: rgba(0, 149, 255, 0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#Actions {
    margin: 2px;
    flex-grow: 1;
    background-color: rgba(0, 149, 255, 0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}




.user-infos{
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
}



.dino-infos {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center;
}

.usersDisplay {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0);
  


    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center; 
    flex-direction: column;
}
.usersAccess {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center; 
    flex-direction: column;
}



.topMiddle {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-grow: 0.5; 
    flex-shrink: 0;
    justify-content: center;
}

.bottomMiddle {
    margin: 2px;
    background: rgba(255, 255, 255, 0);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center;
}
.Title {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}


.mobile-title {
    display:none;
}

.middleContent {
    margin: 2px;
    background: rgba(255, 255, 255, 0);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center;
}



.InRight {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-grow: 6;
    flex-shrink: 0;
    justify-content: center;
}

@font-face {
    font-family:"Peanut";
    src: url("../../assets/font/PeanutMoney.ttf") format("truetype");
  }


/* Mobile layout */
@media only screen and (max-width: 768px) {
    #main {
        flex-direction: column;
    }

    #Infos {
        width: 100%;
        flex-grow: 1;
    }

    #Actions {
        width: 100%;
        flex-grow: 3;
    }

    #Middle {
        width: 100%;
        flex-grow: 10;
    }

    .user-infos, .dino-infos, .topMiddle, .bottomMiddle, .InRight, .Title {
        width: 90%;
        margin: 10px auto;
    }

    .dino-infos {
        display :none;
    }

    .usersDisplay {
        flex-grow: 0.5;
    }

    .Title {
        display: none;
    }
    .mobile-title {
        display:block;
    }
}
