nav {
    margin-top: 20px;
    margin-bottom: 20px;
}
nav a {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-decoration: none;
    /* display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center; */
    
}

.Title {
    margin: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
}