/* Variables CSS */
:root {
    --primary-color: #0275d8;
    --primary-hover-color: #025aa5;
    --overlay-background: rgba(0, 0, 0, 0.6);
    --form-background: rgba(255, 255, 255, 0.95);
    --button-background: #212121;
    --button-border-color: #fff;
    --input-border-color: #ccc;
    --input-border-radius: 5px;
    --input-padding: 10px;
    --icon-color: #fff;
    --icon-hover-color: #ccc;
}

/* Réinitialisation des marges et hauteurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Peanut';
    font-size: 1.2rem;
}

/* Image de fond couvrant toute la page */
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajout des polices pour tout le monde */
@font-face {
    font-family:"Peanut";
    src: url("../assets/font/PeanutMoney.ttf") format("truetype");
  }