/* Fond de la page */
.home-page {
    background-image: url('../../../public/assets/img/Cybercity.jpg'); /* Chemin relatif à partir de HomePage.css */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}


/* Bloc central avec un fond semi-transparent */
.central-block {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.808);
}

/* Boutons */
.btn-signup, .btn-login {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    
    font-family: 'Peanut', sans-serif;
    font-size: 1.05rem;
    cursor: pointer;
    margin: 10px;
}

#login-identifier::placeholder, #login-password::placeholder, #signup-username::placeholder, #signup-email::placeholder, #signup-password::placeholder, .btn-submit {
    font-family: 'Peanut', sans-serif;
    font-size: 1.5rem;
}

.btn-login span, .btn-signup span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.btn-login span:hover, .btn-signup span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
}

/* Adaptabilité pour les petits écrans */
@media (max-width: 600px) {
    .central-block {
        padding: 20px;
    }

    .user-management-icon {
        font-size: 1.8em;
    }
}

/* Overlay */
.home-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-background);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.home-page-overlay.show {
    display: flex;
}

/* Transition pour les formulaires */
.form-container {
    background: var(--form-background);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    position: relative;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.form-container.show {
    opacity: 1;
    transform: translateY(0);
}

/* Adaptabilité pour les petits écrans */
@media (max-width: 600px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }
}