/* Scroll vertical */
body {
  background-image: url('../../../public/assets/img/Cybercity.jpg'); /* Chemin relatif à partir de HomePage.css */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.content-wrapper {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Grille 2x2 sur desktop, 1 col sur mobile */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}
