/* Général */
body {
    background-image: url('../assets/img/Cybercity.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #ffffff;
}

p {
    color: #ddd;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.8); 
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2em;
    margin: 0;
}

/* Section Dino */
#dino-div, #user-div {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#dino-div h2, #user-div h2 {
    font-size: 1.8em;
    color: #ffcc00; 
    margin-bottom: 15px;
}

#dino-stats, #user-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#dino-stats img {
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px solid #fff;
}

#dino-stats h3, #user-stats h3 {
    font-size: 1.5em;
    color: #ffcc00;
    margin-bottom: 10px;
}

#dino-stats p, #user-stats p {
    font-size: 1.1em;
    margin: 5px 0;
    color: #eee; /* Pour un meilleur contraste */
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    font-size: 1em;
}
